.hljs .hljs-tag {
    color: rgb(204, 204, 34);
    display: block;
}
.hljs .hljs-attr {
    color: rgb(220, 79, 170);
}
.hljs .hljs-name {
    color: rgb(79, 79, 214);
}
.hljs .hljs-string {
    color: #fff;
}